# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
main
nodare-db
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bak
*.off
*.brk
*.toml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

vendor/
pkg/
src/
bak/
test/

dat/
cfg/
ndbserver
client/client
